# use global syntax for excludes
syntax: glob

#exclude intelliJ files
.idea
.vagrant
.node
*.iml
*.iws
*.ipr

#exclude eclipse files
.settings
.metadata
.workspace
*.project
*.classpath
*.springBeans
*.springWebflow
maven-eclipse.xml

#common tools files
*.pmd
*.checkstyle
target
**/bin/**
test-output
.toDelete

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage tools
lib-cov
coverage

# Dependency directory
node_modules

# Generated code
gen
dist
transpiled
build
build-ts
generated
plugin_gen.xml
plugin.xml_gen

# Generated css
*/public/styles/*.css

**/src/automatic/**/*.ts

#Exclude generated package.json
/package.json
/package-lock.json

*.tgz

# Vertx
.vertx

# Mac OSX
.DS_Store

# Eclipse Trace
*._trace

# Eclipse XText & Xtend
*/xtend-gen/*
*/xtext-gen/*
*/src-gen/*

# DCEVM related
extraClasspath.properties
hotswap-agent.properties

# Gradle
*/.gradle/*

#Gateway selection
*/gateway/Gateway.js

# ECTS internals
etcs-automation/etcs-automation-tests/external_run_id.txt

# Deployment scripts
docker/dev/connect.bat

# Version backups
*.versionBackups

# VSCode folders
.vscode
